<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxFill fxLayoutGap="1rem">
    <div fxLayout="column" fxFill fxLayoutGap="1rem">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          type="text"
          placeholder="Admin"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="456"
        />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="1rem">
      <button mat-raised-button type="submit" color="primary">Save</button>
      <button mat-raised-button type="button" (click)="onReset()">Reset</button>
    </div>
  </div>
</form>
