<mat-accordion multi>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Program Handsets</mat-panel-title>
    </mat-expansion-panel-header>
    <ats-spectralink-program [gatewayId]="gatewayId$.value"></ats-spectralink-program>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="handsetConfig$ | async as handsetConfig" expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Handset Login Configuration</mat-panel-title>
    </mat-expansion-panel-header>
    <ats-spectralink-handset-edit
      [config]="handsetConfig"
      (save)="onHandsetConfigSave($event)"
    ></ats-spectralink-handset-edit>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="serverConfig$ | async as serverConfig">
    <mat-expansion-panel-header>
      <mat-panel-title>Server Configuration</mat-panel-title>
    </mat-expansion-panel-header>
    <ats-spectralink-server-edit
      [config]="serverConfig"
      (save)="onServerConfigSave($event)"
    ></ats-spectralink-server-edit>
  </mat-expansion-panel>
</mat-accordion>
