<form [formGroup]="form" (ngSubmit)="onProgram()">
  <div fxLayout="column" fxFill fxLayoutGap="1rem">
    <div fxLayout="column" fxFill fxLayoutGap="1rem">
      <mat-form-field>
        <mat-label>Handset IP Address</mat-label>
        <input
          matInput
          formControlName="ipAddress"
          type="text"
          pattern="^(?:(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])(\.(?!$)|$)){4}$"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Handset Line Number</mat-label>
        <select matNativeControl required>
          <option [value]="1">Line 1</option>
          <option [value]="2">Line 2</option>
          <option [value]="3">Line 3</option>
          <option [value]="4">Line 4</option>
          <option [value]="5">Line 5</option>
          <option [value]="6">Line 6</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Current Handset Username</mat-label>
        <input
          matInput
          formControlName="username"
          type="text"
          placeholder="Admin"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Current Handset Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="456"
        />
      </mat-form-field>
      <p style="font-size: small">
        The <i>username</i> and <i>password</i> values in the below <b>Handset Login Configuration</b> panel will be
        used for both <b>Phone State Polling</b> and <b>Push</b> operations.
      </p>
      <p style="font-size: small; color: darkred">
        WARNING: The following sections will be completely replaced during programming:
        Configure URLs, Telephony Event Notifications, Phone State Polling, Push.
      </p>
    </div>
    <div fxLayout="row" fxLayoutGap="1rem">
      <button mat-raised-button type="submit" color="primary" [disabled]="programDisabled$ | async">
        Program
      </button>
      <button mat-button type="button" *ngIf="resultShow$ | async"
              [color]="resultColor$ | async" (click)="hideResult()">{{ resultMessage$ | async }}
      </button>
    </div>
  </div>
</form>
