<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxFill fxLayoutGap="1rem">
    <div fxLayout="column" fxFill fxLayoutGap="1rem">
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput formControlName="ipAddress" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
      <mat-slide-toggle formControlName="useRoom"
        >Use room value instead of location value.
      </mat-slide-toggle>
    </div>
    <div fxLayout="row" fxLayoutGap="1rem">
      <button mat-raised-button type="submit" color="primary">Save</button>
      <button mat-raised-button type="button" (click)="onReset()">Reset</button>
    </div>
  </div>
</form>
